.slider {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
  max-height: 720px;
}

.slides-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.buttons {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.prev-btn,
.next-btn {
  border: none;
  background: none;
  font-size: 1.2rem;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .slider {
    padding-bottom: 75%; /* 4:3 aspect ratio */
  }
}
